In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df_assignments_ctrl = pd.read_csv('../XPlanningEvaluation/resources/mobilerobot/study/prefalign/mturk/assignments/assignments_control_pilot.csv')
df_assignments_exp = pd.read_csv('../XPlanningEvaluation/resources/mobilerobot/study/prefalign/mturk/assignments/assignments_experimental_pilot.csv')
df_answers_ctrl = pd.read_csv('../XPlanningEvaluation/resources/mobilerobot/study/prefalign/mturk/assignments/answerKey.csv')
df_answers_exp = pd.read_csv('../XPlanningEvaluation/resources/mobilerobot/study/prefalign/mturk/assignments/answerKey.csv')

In [3]:
df_assignments_ctrl.head()

,HIT Index,HIT ID,HITType ID,Assignment ID,Worker ID,Total Time (seconds),question0-ref,question0-total-cost,question0-answer,question0-confidence,...,question2-ref,question2-total-cost,question2-answer,question2-confidence,question2-elapsedTime,question3-ref,question3-total-cost,question3-answer,question3-confidence,question3-elapsedTime
0,0,3DA79LNS5BUFGPY5EWOOUP3IBBRT3B,38LKVYAVXNLXZEHLU5RXP72A0ALJQ7,3ON104KXQNVVDMJXZH3KFYYCRITW4N,A2CK0OXMPOR9LE,941,question-mission12-agent0,206.0,yes,fairly,...,question-mission26-agent0,173,no,fairly,31609,question-mission74-agent2,199,yes,fairly,20833
1,0,3DA79LNS5BUFGPY5EWOOUP3IBBRT3B,38LKVYAVXNLXZEHLU5RXP72A0ALJQ7,39ASUFLU606SUOLGYSBJQ3OAD9WEX7,AOSLTO4W2A476,640,question-mission12-agent0,218.0,no,slightly,...,question-mission26-agent0,173,yes,somewhat,53269,question-mission74-agent2,199,yes,fairly,31549
2,1,3JUDR1D0D8QD3RAUTSGO6AN3LSYQ2T,38LKVYAVXNLXZEHLU5RXP72A0ALJQ7,3VFJCI1K42Y6H6VVVOVF1ONYPI8RG7,A1P6OXEJ86HQRM,702,question-mission13-agent0,393.0,yes,slightly,...,question-mission75-agent0,335,yes,somewhat,83625,question-mission54-agent0,303,yes,fairly,63959
3,2,3S37Y8CWIAZSQ2L39FYIRE2NT96W4Y,3FRA5KKDL5PR1J2R6IAJ4VQ4OZX29J,3X87C8JFV9A9VAPMD90WLCWWHAGQSB,A3SKEW89V5S0DI,783,question-mission24-agent0,324.0,yes,fairly,...,question-mission37-agent0,314,yes,fairly,136718,question-mission10-agent0,506,yes,fairly,83462
4,2,3S37Y8CWIAZSQ2L39FYIRE2NT96W4Y,3FRA5KKDL5PR1J2R6IAJ4VQ4OZX29J,3CCZ6YKWRAI2X9APKBC266WFTQ6594,A27SMEOPKV84VI,485,question-mission24-agent0,324.0,yes,fairly,...,question-mission37-agent0,314,yes,completely,76541,question-mission10-agent0,506,yes,completely,93909

In [4]:
df_assignments_exp.head()

,HIT Index,HIT ID,HITType ID,Assignment ID,Worker ID,Total Time (seconds),question0-ref,question0-total-cost,question0-answer,question0-confidence,...,question2-ref,question2-total-cost,question2-answer,question2-confidence,question2-elapsedTime,question3-ref,question3-total-cost,question3-answer,question3-confidence,question3-elapsedTime
0,0,3NSCTNUR21MDF8M0MFL0EHBA1M25A5,395K4VYE04NWIXJGQU95IS2EI8G56C,3PPTZCWALTJ6WMB081U4H5TZ4Q8ZQJ,AV22FQTJNBUZT,1651,question-mission12-agent0-explanation,147.8,yes,somewhat,...,question-mission26-agent0-explanation,176,no,slightly,51736,question-mission74-agent2-explanation,179,no,completely,29796
1,0,3NSCTNUR21MDF8M0MFL0EHBA1M25A5,395K4VYE04NWIXJGQU95IS2EI8G56C,3NGI5ARFTW4O1EPD0D6NP6JDMGT1PR,A2IKSCWK5EOG79,1026,question-mission12-agent0-explanation,206.0,yes,fairly,...,question-mission26-agent0-explanation,173,no,slightly,198754,question-mission74-agent2-explanation,199,no,completely,127201
2,1,3W0KKJIART82E3EOW45SKFOX8O28KU,395K4VYE04NWIXJGQU95IS2EI8G56C,3IAS3U3I0IFTM56Z0CO0Z5OTXLY2B0,A3S3NLZV7A06QN,770,question-mission13-agent0-explanation,393.0,yes,completely,...,question-mission75-agent0-explanation,335,yes,completely,68301,question-mission54-agent0-explanation,303,yes,completely,46092
3,1,3W0KKJIART82E3EOW45SKFOX8O28KU,395K4VYE04NWIXJGQU95IS2EI8G56C,3VA45EW49QM6GEDCLDT806ENCE9O1F,AKRFNRKI1IMJ1,493,question-mission13-agent0-explanation,393.0,yes,completely,...,question-mission75-agent0-explanation,335,yes,completely,47560,question-mission54-agent0-explanation,303,yes,completely,43975
4,2,3D7VY91L67WG6PCYKS2IQU62505MB1,3RSP1MSSW2FK2RUKTZBE0NZCIKTUKO,3QAVNHZ3EP3U4HNF4469JQ3WM6EALJ,A11FFJZ0C984W4,1016,question-mission24-agent0-explanation,324.0,yes,fairly,...,question-mission37-agent0-explanation,314,yes,fairly,87525,question-mission10-agent0-explanation,506,yes,fairly,84333

In [5]:
df_answers_ctrl.head()

                         ref  total-cost answer
0  question-mission59-agent4         708     no
1  question-mission80-agent0         108    yes
2  question-mission42-agent7         709     no
3  question-mission66-agent0         875    yes
4  question-mission45-agent7         220     no

In [6]:
df_answers_exp.ref = [name + '-explanation' for name in df_answers_exp.ref]
df_answers_exp.head()

                                     ref  total-cost answer
0  question-mission59-agent4-explanation         708     no
1  question-mission80-agent0-explanation         108    yes
2  question-mission42-agent7-explanation         709     no
3  question-mission66-agent0-explanation         875    yes
4  question-mission45-agent7-explanation         220     no

In [12]:
df_answers_ctrl.head()

                         ref  total-cost answer
0  question-mission59-agent4         708     no
1  question-mission80-agent0         108    yes
2  question-mission42-agent7         709     no
3  question-mission66-agent0         875    yes
4  question-mission45-agent7         220     no

In [7]:
def create_columns(data_types, num_questions):
    columns = []
    for i in range(num_questions):
        for data_type in data_types:
            columns.append('question' + str(i) + "-" + data_type)
    return columns

In [8]:
def create_data_type_columns(data_type, num_questions):
    return ['question' + str(i) + '-' + data_type for i in range(num_questions)]

In [13]:
def compute_accuracy(df_assignments, df_answers):
    # Accuracy of total-cost (%error) and answer (correct/incorrect) from workers
    accuracy_columns = create_columns(['ref', 'total-cost', 'answer'], 4)
    df_accuracy = pd.DataFrame(columns=accuracy_columns)
    
    for index, row in df_assignments.iterrows():
        # ref: question-mission[i]-agent[j] is shared between assignments and answerKey tables
        ref_columns = create_data_type_columns('ref', 4)
        df_answer_key = df_answers[df_answers.ref.isin(row[ref_columns])]

        # Data columns of interest for each question: total-cost, answer
        total_cost_columns = create_data_type_columns('total-cost', 4)
        answer_columns = create_data_type_columns('answer', 4)

        # Accuracy of total-cost and answer from workers
        worker_acc_dict = {'HIT ID': row['HIT ID'], 'Worker ID': row['Worker ID']}

        for i in range(4):
            ref_column = ref_columns[i] # question[i]-ref
            total_cost_column = total_cost_columns[i] # question[i]-total-cost
            answer_column = answer_columns[i] # question[i]-answer

            # total-cost and %error
            worker_total_cost = row[total_cost_column]
            correct_total_cost = df_answer_key[df_answer_key.ref == row[ref_column]].iloc[0]['total-cost']
            total_cost_err = abs((correct_total_cost - worker_total_cost) / correct_total_cost)

            # answer and correct/incorrect
            worker_answer = row[answer_column]
            correct_answer = df_answer_key[df_answer_key.ref == row[ref_column]].iloc[0]['answer']
            answer_acc = worker_answer == correct_answer

            # Accuracy dict
            worker_acc_dict[ref_column] = row[ref_column]
            worker_acc_dict[total_cost_column] = total_cost_err
            worker_acc_dict[answer_column] = answer_acc

        df_accuracy = df_accuracy.append(worker_acc_dict, ignore_index=True)
    return df_accuracy

In [14]:
df_accuracy_ctrl = compute_accuracy(df_assignments_ctrl, df_answers_ctrl)
print(df_accuracy_ctrl)

               question0-ref  question0-total-cost question0-answer  \
0  question-mission12-agent0              0.000000             True
1  question-mission12-agent0              0.058252            False
2  question-mission13-agent0              0.000000             True
3  question-mission24-agent0              0.000000             True
4  question-mission24-agent0              0.000000             True
5  question-mission25-agent2              0.307317             True
6  question-mission25-agent2              0.059512            False

               question1-ref  question1-total-cost question1-answer  \
0  question-mission85-agent0              0.000000             True
1  question-mission85-agent0              0.722222             True
2  question-mission95-agent0              0.000000             True
3  question-mission94-agent0              0.000000             True
4  question-mission94-agent0              0.000000             True
5  question-mission82-agent0              0.000000             True
6  question-mission82-agent0              0.000000             True

               question2-ref  question2-total-cost question2-answer  \
0  question-mission26-agent0                   0.0            False
1  question-mission26-agent0                   0.0             True
2  question-mission75-agent0                   0.0             True
3  question-mission37-agent0                   0.0             True
4  question-mission37-agent0                   0.0             True
5  question-mission52-agent7                   0.0             True
6  question-mission52-agent7                   0.0             True

               question3-ref  question3-total-cost question3-answer  \
0  question-mission74-agent2                   0.0            False
1  question-mission74-agent2                   0.0            False
2  question-mission54-agent0                   0.0             True
3  question-mission10-agent0                   0.0             True
4  question-mission10-agent0                   0.0             True
5  question-mission11-agent0                   0.0            False
6  question-mission11-agent0                   0.0             True

                           HIT ID       Worker ID
0  3DA79LNS5BUFGPY5EWOOUP3IBBRT3B  A2CK0OXMPOR9LE
1  3DA79LNS5BUFGPY5EWOOUP3IBBRT3B   AOSLTO4W2A476
2  3JUDR1D0D8QD3RAUTSGO6AN3LSYQ2T  A1P6OXEJ86HQRM
3  3S37Y8CWIAZSQ2L39FYIRE2NT96W4Y  A3SKEW89V5S0DI
4  3S37Y8CWIAZSQ2L39FYIRE2NT96W4Y  A27SMEOPKV84VI
5  3HJ1EVZS2QI20ALDA7JTUA20NUWR36   A9HQ3E0F2AGVO
6  3HJ1EVZS2QI20ALDA7JTUA20NUWR36  A1IFIK8J49WBER

In [16]:
df_accuracy_exp = compute_accuracy(df_assignments_exp, df_answers_exp)
print(df_accuracy_exp)

                           question0-ref  question0-total-cost  \
0  question-mission12-agent0-explanation              0.282524
1  question-mission12-agent0-explanation              0.000000
2  question-mission13-agent0-explanation              0.000000
3  question-mission13-agent0-explanation              0.000000
4  question-mission24-agent0-explanation              0.000000
5  question-mission24-agent0-explanation              0.018519

  question0-answer                          question1-ref  \
0             True  question-mission85-agent0-explanation
1             True  question-mission85-agent0-explanation
2             True  question-mission95-agent0-explanation
3             True  question-mission95-agent0-explanation
4             True  question-mission94-agent0-explanation
5            False  question-mission94-agent0-explanation

   question1-total-cost question1-answer  \
0              0.000000             True
1              0.000000             True
2              0.000000             True
3              0.000000             True
4              0.000000             True
5              0.018519             True

                           question2-ref  question2-total-cost  \
0  question-mission26-agent0-explanation              0.017341
1  question-mission26-agent0-explanation              0.000000
2  question-mission75-agent0-explanation              0.000000
3  question-mission75-agent0-explanation              0.000000
4  question-mission37-agent0-explanation              0.000000
5  question-mission37-agent0-explanation              0.175159

  question2-answer                          question3-ref  \
0            False  question-mission74-agent2-explanation
1            False  question-mission74-agent2-explanation
2             True  question-mission54-agent0-explanation
3             True  question-mission54-agent0-explanation
4             True  question-mission10-agent0-explanation
5            False  question-mission10-agent0-explanation

   question3-total-cost question3-answer                          HIT ID  \
0              0.100503             True  3NSCTNUR21MDF8M0MFL0EHBA1M25A5
1              0.000000             True  3NSCTNUR21MDF8M0MFL0EHBA1M25A5
2              0.000000             True  3W0KKJIART82E3EOW45SKFOX8O28KU
3              0.000000             True  3W0KKJIART82E3EOW45SKFOX8O28KU
4              0.000000             True  3D7VY91L67WG6PCYKS2IQU62505MB1
5              0.011858             True  3D7VY91L67WG6PCYKS2IQU62505MB1

        Worker ID
0   AV22FQTJNBUZT
1  A2IKSCWK5EOG79
2  A3S3NLZV7A06QN
3   AKRFNRKI1IMJ1
4  A11FFJZ0C984W4
5  A2RVDEU138ZF9P

In [ ]:
def compute_score(df_assignments, df_answers):
    # Score of answer-confidence combination
    score_columns = create_columns(['ref', 'confidence'], 4)
    df_score = pd.DataFrame(columns=score_columns)

    confidence_abs_scores = {'none': 0, 'slightly': 1, 'somewhat': 2, 'fairly': 3, 'completely': 4}

    for index, row in df_assignments.iterrows():
        # ref: question-mission[i]-agent[j] is shared between assignments and answerKey tables
        ref_columns = create_data_type_columns('ref', 4)
        df_answer_key = df_answers[df_answers.ref.isin(row[ref_columns])]

        # Data columns of interest for each question: answer, confidence
        answer_columns = create_data_type_columns('answer', 4)
        confidence_columns = create_data_type_columns('confidence', 4)

        # Score of answer-confidence combination
        worker_score_dict = {'HIT ID': row['HIT ID'], 'Worker ID': row['Worker ID']}

        for i in range(4):
            ref_column = ref_columns[i] # question[i]-ref
            answer_column = answer_columns[i] # question[i]-answer
            confidence_column = confidence_columns[i] # question[i]-confidence

            # answer and correct/incorrect
            worker_answer = row[answer_column]
            correct_answer = df_answer_key[df_answer_key.ref == row[ref_column]].iloc[0]['answer']
            answer_acc = worker_answer == correct_answer

            # confidence and score
            worker_confidence = row[confidence_column]
            score = confidence_abs_scores[worker_confidence] if answer_acc else -1 * confidence_abs_scores[worker_confidence]

            # Score dict
            worker_score_dict[ref_column] = row[ref_column]
            worker_score_dict[confidence_column] = score

        df_score = df_score.append(worker_score_dict, ignore_index=True)
    return df_score

In [ ]:
# Accuracy of total-cost (%error) and answer (correct/incorrect) from workers
accuracy_columns = create_columns(['ref', 'total-cost', 'answer'], 4)
df_accuracy = pd.DataFrame(columns=accuracy_columns) # Control group
df_accuracy_exp = pd.DataFrame(columns=accuracy_columns) # Experimental group

# Score of answer-confidence combination
score_columns = create_columns(['ref', 'confidence'], 4)
df_score = pd.DataFrame(columns=score_columns) # Control group
df_score_exp = pd.DataFrame(columns=score_columns) # Experimental group

confidence_abs_scores = {'none': 0, 'slightly': 1, 'somewhat': 2, 'fairly': 3, 'completely': 4}

for index, row in df_assignments.iterrows():
    # ref: question-mission[i]-agent[j] is shared between assignments and answerKey tables
    ref_columns = create_data_type_columns('ref', 4)
    df_answer_key = df_answers[df_answers.ref.isin(row[ref_columns])]

    # Data columns of interest for each question: total-cost, answer, confidence
    total_cost_columns = create_data_type_columns('total-cost', 4)
    answer_columns = create_data_type_columns('answer', 4)
    confidence_columns = create_data_type_columns('confidence', 4)
    
    # Accuracy of total-cost and answer from workers
    worker_acc_dict = {'HIT ID': row['HIT ID'], 'Worker ID': row['Worker ID']}
    
    # Score of answer-confidence combination
    worker_score_dict = {'HIT ID': row['HIT ID'], 'Worker ID': row['Worker ID']}
    
    for i in range(4):
        ref_column = ref_columns[i] # question[i]-ref
        total_cost_column = total_cost_columns[i] # question[i]-total-cost
        answer_column = answer_columns[i] # question[i]-answer
        confidence_column = confidence_columns[i] # question[i]-confidence
        
        # total-cost and %error
        worker_total_cost = row[total_cost_column]
        correct_total_cost = df_answer_key[df_answer_key.ref == row[ref_column]].iloc[0]['total-cost']
        total_cost_err = abs((correct_total_cost - worker_total_cost) / correct_total_cost)
        
        # answer and correct/incorrect
        worker_answer = row[answer_column]
        correct_answer = df_answer_key[df_answer_key.ref == row[ref_column]].iloc[0]['answer']
        answer_acc = worker_answer == correct_answer
        
        # confidence and score
        worker_confidence = row[confidence_column]
        score = confidence_abs_scores[worker_confidence] if answer_acc else -1 * confidence_abs_scores[worker_confidence]
        
        # Accuracy dict
        worker_acc_dict[ref_column] = row[ref_column]
        worker_acc_dict[total_cost_column] = total_cost_err
        worker_acc_dict[answer_column] = answer_acc
        
        # Score dict
        worker_score_dict[ref_column] = row[ref_column]
        worker_score_dict[confidence_column] = score
        
    df_accuracy = df_accuracy.append(worker_acc_dict, ignore_index=True)
    df_score = df_score.append(worker_score_dict, ignore_index=True)

In [ ]:
print(df_accuracy)

In [ ]:
print(df_score)

In [ ]:
df_score['average score'] = df_score[['question0-confidence','question2-confidence','question3-confidence']].mean(axis=1)
print(df_score)

In [ ]:
control_mean = df_score['average score'].mean()
control_std = df_score['average score'].std()
print(control_mean)
print(control_std)

In [ ]:
plot = df_accuracy.boxplot(column=['question0-total-cost'])

In [ ]:
plot = df_accuracy.boxplot(column=['question1-total-cost'])

In [ ]:
plot = df_accuracy.boxplot(column=['question2-total-cost'])

In [ ]:
plot = df_accuracy.boxplot(column=['question3-total-cost'])

In [ ]:
fig, axes = plt.subplots()
# plot violin. 'Scenario' is according to x axis, 
# 'LMP' is y axis, data is your dataframe. ax - is axes instance

sns.violinplot(y=df_accuracy['question0-total-cost'], bw=0.5, inner="quartile")
axes.set_ylabel('accuracy')

In [ ]:
fig, axes = plt.subplots()
# plot violin. 'Scenario' is according to x axis, 
# 'LMP' is y axis, data is your dataframe. ax - is axes instance

sns.violinplot(y=df_accuracy['question1-total-cost'], bw=0.5, inner="quartile")
axes.set_ylabel('accuracy')

In [ ]:
fig, axes = plt.subplots()
# plot violin. 'Scenario' is according to x axis, 
# 'LMP' is y axis, data is your dataframe. ax - is axes instance

sns.violinplot(y=df_accuracy['question2-total-cost'], bw=0.5, inner="quartile")
axes.set_ylabel('accuracy')

In [ ]:
fig, axes = plt.subplots()
# plot violin. 'Scenario' is according to x axis, 
# 'LMP' is y axis, data is your dataframe. ax - is axes instance

sns.violinplot(y=df_accuracy['question3-total-cost'], bw=0.5, inner="quartile")
axes.set_ylabel('accuracy')